<div class="card mt-5 mb-xl-10 bg-white">
  <div id="kt_account_settings_signin_method" class="collapse show">
    <div class="card-body border-top p-9">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex">
            <img src="/media/dermaga/dermaga.svg" width="45" height="45" style="margin-top:-10px;">
            <h2 style="margin-left:30px;">Master Dermaga</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>