<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notifikasi</title>
</head>
<body>
    <h3>Yth, {{data.name}}</h3>
    <h3>Master Data yang anda ajukan ditolak::</h3>
    <p>No Request: {{data.noRequest}}</p>
    <p>Master Data: {{data.masterData}}</p>
    <p>Approver: {{data.approver}}</p>
    <p>Tanggal Disubmit: {{data.submit_date}}</p>

    <p>Mohon dilakukan perbaikan master data sesuai dengan catatan yang diberikan.</p>
   <a href="http://mdm-1717698111.ap-southeast-3.elb.amazonaws.com/login" targe="_blank">mdm-1717698111.ap-southeast-3.elb.amazonaws.com</a>
</body>
</html>
